//colors
$color-primary: #fff;
$color-primary-light: #0a82fbcc;
$color-primary-dark: #2c3e50cc;

$color-secondary-light: rgb(240, 240, 240);
$color-secondary-dark: #ffa502;

$color-tertiary-light: #7bed9f;
$color-tertiary-dark: #2ed573;

//site text
$body-text: #777;
$btn-color: #000;

$gray-light-1: #f7f7f7;
$gray-2: #eee;
$dark-gray: #999;
$dark-gray-2: #333;

$footer-bg: rgb(68, 67, 67);

$border-radius: 3px;

//fonts
$font: 'Lato', sans-serif;
$default-font-size: 1.6rem;

//Grid (px divide by 10)
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;
